#container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  font-size: 4em;
  font-weight: bold;
}

label {
  text-align: right;
}

#descriptionLabel {
  vertical-align: top;
}
